snippet af "() => {}"
($1) =>
{
	$2
}
endsnippet

snippet fun "function() => {}"
function($1)
{
	$2
}
endsnippet

snippet { "{}"
{
	$1
}
endsnippet

snippet try "try {} catch {}"
try
{
	$1
}
catch(e)
{
}
endsnippet
