snippet af "() => {}"
($1) =>
{
	$2
}
endsnippet

snippet f "function"
${1:function_name}(${2})
{
	${0:${VISUAL}}
}
endsnippet
snippet af "function() => {}"
function($1)
{
	$2
}
endsnippet

snippet { "{}"
{
	$1
}
endsnippet

snippet try "try {} catch {}"
try
{
	$1
}
catch(e)
{
}
endsnippet
